{% extends 'base.html' %}

{% block title %}

SDP :: Sauver Du Papier

{% endblock title %}

{% block content %}

<div class="panel panel-default">
	<div class="panel-heading"><strong> {{person}} </strong></div>
	<div class="panel-body">
		<div class="list-group">
			<li class="list-group-item">				
				<a  href="{% url 'profile_section' person.id %}?section=vitals">Vitals</a>			
				{% if vitals %}
				<br />				
				{{ vitals.body_temparature }}<br />
				{{ vitals.weight }}<br />
				{{ vitals.blood_pressure }}
				{% endif %}
			</li>
			<li class="list-group-item">				
				<a  href="{% url 'profile_section' person.id %}?section=vitals">Demographics</a>
				{% if contacts %}
				<br />
				{{ demographic.gender }}<br />
				{{ demographic.date_of_birth }} <br />
				{{ demographic.marital_status }}
				{% endif %}
			</li>
			<li class="list-group-item">				
				<a  href="{% url 'profile_section' person.id %}?section=vitals">Contact Information</a>
				{% if contacts %}
				<br />
				{{ contacts.telephone }}<br />
				{{ contacts.mailing_address }}<br />
				{{ contacts.residence }}
				{% endif %}
			</li>
			<li class="list-group-item">				
				<a  href="{% url 'profile_section' person.id %}?section=vitals">Guardian/Next of Kin</a>
				{% if contacts %}
				<br />			
				{{ nextofkin.father_name }}<br />
				{{ nextofin.mother_name }}
				{{ nextofin.guardian_occupation }}
				{% endif %}
			</li>
		</div>
	</div>

</div>


<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
	Link with href
</a>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
	Button with data-target
</button>
<div class="collapse" id="collapseExample">
	<div class="well">
		...
	</div>
	</div>

<p>I am just wondering myself how is this going to happen out of the blue?</p>
<p>It may be so cool if that is case, as in MPV, I just think<em>Bootstrap</em>
	is just for those of use without design morale</p>

<h2> Basic Form Example</h2>
<form>
<p class="help-block">Example block-level help text here.</p>	
	<div class="form-group required">
		<label for="start_sickness" class="control-label">Ulianza lini Kuumwa</label>
		<input type="date" class="form-control" id="exampleInputEmail1" placeholder="Kuanza Kuumwa">
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Email address</label>
		<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
	</div>	
	<div class="form-group">
		<label for="exampleInputPassword1">Password</label>
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	</div>
	<div class="form-group">
		<label for="history">History</label>
		<textarea class="form-control" rows="4" placeholder="Patient History"></textarea>
	</div>
	<div class="form-group">
		<label for="exampleInputFile">File input</label>
		<input type="file" id="exampleInputFile">		
	</div>	
	<div class="checkbox">
		<label>
			<input type="checkbox"> Check me out
		</label>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>

<p>I am just wondering myself how is this going to happen out of the blue?</p>
<p>It may be so cool if that is case, as in MPV, I just think<em>Bootstrap</em>
	is just for those of use without design morale <a target="_new" href="http://www.fugit.space">This is a link</a></p>

<p>I am just wondering myself how is this going to happen out of the blue?</p>
<p>It may be so cool if that is case, as in MPV, I just think<em>Bootstrap</em>
	is just for those of use without design morale</p>


<p>I am just wondering myself how is this going to happen out of the blue?</p>
<p>It may be so cool if that is case, as in MPV, I just think<em>Bootstrap</em>
	is just for those of use without design morale</p>

<p>I am just wondering myself how is this going to happen out of the blue?</p>
<p>It may be so cool if that is case, as in MPV, I just think<em>Bootstrap</em>
	is just for those of use without design morale</p>

<p>I am just wondering myself how is this going to happen out of the blue?</p>
<p>It may be so cool if that is case, as in MPV, I just think<em>Bootstrap</em>
	is just for those of use without design morale</p>
<p>I am just wondering myself how is this going to happen out of the blue?</p>
<p>It may be so cool if that is case, as in MPV, I just think<em>Bootstrap</em>
	is just for those of use without design morale</p>

<p>I am just wondering myself how is this going to happen out of the blue?</p>
<p>It may be so cool if that is case, as in MPV, I just think<em>Bootstrap</em>
	is just for those of use without design morale</p>
{% endblock content%}
