{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock title %}</title>		
		<meta name="description" content="">
		<meta name="author" content="Sovello">
		<link href="{% static 'bstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
		<link href="{% static 'main.css' %}" rel="stylesheet" />
		<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
		
		{% block extrahead %}
		{% endblock %}
		
		<script type="text/javascript">
		$(function(){
		{% block jquery %}
		{% endblock %}
			});
		</script>
		<style>			
			body {
				background: url(" ") no-repeat center center fixed;
				background-color:#fffffe;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				opacity:1;
				filter: alpha(opacity=100);				
				padding-top: 60px;
				color:#333;
			}
		</style>		
	</head>
	<body>
		{% include '_header.html' %}
		
		<div id="messages">
			{% if messages %}
			{% for message in messages %}
			<div style="background-color:#D7DF01" id="bkdelete" class="alert alert-{{message.tags}}">
				<a class="close" data-dismiss="alert">x</a>
				{{message}}
			</div>
			{% endfor %}
			{% endif %}
		</div>
		<div class="container bs-docs-container">
			<div class="row">
				<div class="col-md-9" role="main">						
						{% block content %}
						{% endblock %}			
				</div>
				<div class="col-md-3" role="complementary">
					<div class="list-group">
						<a class="list-group-item active" href="{% url 'index' %}">Home</a>
						<a class="list-group-item" href="{% url 'create_person' %}">Kwenu</a>
						<a class="list-group-item" href="#">Kuko Activie</a>
					</div>
				</div>				
			</div>
		</div>
		
			
		<div class="panel panel-default">
			
			<div class="panel-footer text-center">&copy; <a href="http://www.fugit.space" alt="Our Site" target="_new">fugit.space</a></div>
		</div>	
		</div>
		<script src="{% static 'bstrap/js/bootstrap.min.js' %}"></script>
		{% block extrascripts %}
		{% endblock extrascripts %}
	</body>
</html>
