{% extends 'base.html' %}

{% block title %}

SDP :: Sauver Du Papier

{% endblock title %}

{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">Patients List</div>
	<div class="panel-body">
		<p>These are patients that are currently admitted in your hospital</p>
	</div>

	<!-- - List group -->
	<table class="table table-hover">
		<tr>
			<th>Full name</th><th>Date Admitted</th><th>Ward</th>
		</tr>
		<tr>
			<td>Cras justo adio</td><td>January 24, 2013</td><td>General 09</td>
		</tr>
		<tr>
			<td>Dapibus ac facilisis in</td><td>January 24, 2013</td><td>Kaunda 2</td>
		</tr>
		<tr>
			<td>Porta ac consectetur</td><td>March 24, 2015</td><td>Mtakuja</td>
		</tr>
		<tr>
			<td>Vestibulum at eros</td><td>September 20, 2010</td><td>Kikwitd</td>
		</tr>
	</table>
	<div class="panel-footer">Panel footer</div>
</div>

<p>I am just wondering myself how is this going to happen out of the blue?</p>
<p>It may be so cool if that is case, as in MPV, I just think<em>Bootstrap</em>
	is just for those of use without design morale</p>

<h2> Basic Form Example</h2>
<form>
<p class="help-block">Example block-level help text here.</p>	
	<div class="form-group required">
		<label for="start_sickness" class="control-label">Ulianza lini Kuumwa</label>
		<input type="date" class="form-control" id="exampleInputEmail1" placeholder="Kuanza Kuumwa">
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Email address</label>
		<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
	</div>	
	<div class="form-group">
		<label for="exampleInputPassword1">Password</label>
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	</div>
	<div class="form-group">
		<label for="history">History</label>
		<textarea class="form-control" rows="4" placeholder="Patient History"></textarea>
	</div>
	<div class="form-group">
		<label for="exampleInputFile">File input</label>
		<input type="file" id="exampleInputFile">		
	</div>	
	<div class="checkbox">
		<label>
			<input type="checkbox"> Check me out
		</label>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>

<p>I am just wondering myself how is this going to happen out of the blue?</p>
<p>It may be so cool if that is case, as in MPV, I just think<em>Bootstrap</em>
	is just for those of use without design morale <a target="_new" href="http://www.fugit.space">This is a link</a></p>

<p>I am just wondering myself how is this going to happen out of the blue?</p>
<p>It may be so cool if that is case, as in MPV, I just think<em>Bootstrap</em>
	is just for those of use without design morale</p>


<p>I am just wondering myself how is this going to happen out of the blue?</p>
<p>It may be so cool if that is case, as in MPV, I just think<em>Bootstrap</em>
	is just for those of use without design morale</p>

<p>I am just wondering myself how is this going to happen out of the blue?</p>
<p>It may be so cool if that is case, as in MPV, I just think<em>Bootstrap</em>
	is just for those of use without design morale</p>

<p>I am just wondering myself how is this going to happen out of the blue?</p>
<p>It may be so cool if that is case, as in MPV, I just think<em>Bootstrap</em>
	is just for those of use without design morale</p>
<p>I am just wondering myself how is this going to happen out of the blue?</p>
<p>It may be so cool if that is case, as in MPV, I just think<em>Bootstrap</em>
	is just for those of use without design morale</p>

<p>I am just wondering myself how is this going to happen out of the blue?</p>
<p>It may be so cool if that is case, as in MPV, I just think<em>Bootstrap</em>
	is just for those of use without design morale</p>
{% endblock content%}
